html, body {
    margin: 10;
    padding: 10;
    text-align: center;
    --grid-width: 200px;
    --grid-height: 200px;
    box-sizing: border-box;
}

#start {
    padding: 10px 15px;
    border: none;
    background: rgb(62, 26, 224);
    color: white;
}

.grid {
    width: var(--grid-width);
    height: var(--grid-height);
    border: solid 2px black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(var(--grid-width) / 10);
    height: calc(var(--grid-height) / 10);
}

.snake {
    background: green;
    border-radius: 5px;
}

.apple {
    background: url(images/apple_logo_black-svg.png);
    background-size: cover;
}